/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    -webkit-font-smoothing: antialiased;    
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { background: url(../img/grey.png)}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
blockquote {font-family: 'Open Sans', sans-serif; font-weight: 300; letter-spacing: -0.08em; }
b, strong {font-family: 'Open Sans', sans-serif; font-weight: 800}
a {text-decoration: none;}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span { font-family: Baskerville, georgia, serif; font-style: italic}

h1 {}
h2 {font-size: 1.8em; line-height: 1.1}
h3 {}
h4 {}
h5 {}

.avatar {
	text-align: center;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	border: 4px solid #fff;
	margin-top: -2em;
	margin-bottom: 1em;
	float: left;
	width: 70px;
}

b.title { display:block; color: #e53a3a; letter-spacing: -1px; text-transform: uppercase; font-size: 1em; margin-left: 99px; }
.intro h3 { font-weight: 500; color: #666; font-size: 1em; float: left; position: relative; top: -1.0em; margin-left: 20px;}

.container {}
.row {}
.center {text-align: center}
.intro { padding: 3%;}
hgroup { color: #fff; padding: 2% 8%; background: #e53a3a; margin-top: 1em; margin-bottom: 5%;}
hgroup h2 { clear: both; max-width: 89%;}
hgroup h2 a { color: #fff;  padding: 0.2% 0.5%; 
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;}
hgroup h2 a:hover { background: rgba(0,0,0,0.2); border-radius: 4px; text-shadow: #852424 0 1px 2px;}

.social {color: #fff; overflow: hidden; margin: 0; padding: 0%}
ul.socials { padding: 0; }
ul.socials li {list-style-type: none; padding: 3% 0; font-size: 1.1em; display: inline; text-align: center; line-height: 3; }
ul.socials li a {color: #e53a3a; font-weight: 700; padding: 1% 3%; border-radius: 4px; opacity: 0.8; background: url(../img/social-sprite.png) 5px 9px no-repeat #fff;  }
ul.socials li a:hover {
text-indent: -1000em;
text-shadow: none;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
opacity: 1;
   }

ul.socials li a.tw { background-position: 5px 9px;} 
ul.socials li a.dr { background-position: 5px -211px;} 
ul.socials li a.la { background-position: 5px -78px;} 
ul.socials li a.fl { background-position: 5px -168px;} 
ul.socials li a.de { background-position: 5px -256px;} 
ul.socials li a.li { background-position: 5px -36px;} 

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	h2 {font-size: 3em; max-width: 95%;}
	.avatar { width: auto}
	hgroup { margin-top: 0;}	
	b.title {margin-left: 127px; }
	ul.socials li {display: inline; font-size: 0.7em; text-align: center; margin-right: 1%; }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}