/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    -webkit-font-smoothing: antialiased;    
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a { color: #e53a3a}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { background: #fff}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
blockquote {font-family: 'Open Sans', sans-serif; font-weight: 300; }
b, strong {font-family: 'Open Sans', sans-serif; font-weight: 800}
a {text-decoration: none;}

h1,h2 {letter-spacing: -0.08em;}
h3 {letter-spacing: -0.04em;}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span { font-family: Baskerville, georgia, serif; font-style: italic}

h1 {}
h2 {text-transform: uppercase; font-size: 2em;}
h3 {text-transform: uppercase; font-size: 1.5em;}
h4 {}
h5 {}

.centre {text-align: center}
.middle { margin: 0 auto;}
.row { margin: 0 0 3% 0; overflow: hidden}

@media only screen and (min-width: 45em) {
	.lefted { text-align: left}
	.righted { text-align: right}

}

nav {width: 100%; position: fixed; z-index: 99; background: #162027; box-shadow: rgba(0,0,0,0.5) 0 1px 2px;}
nav ul  { margin: 0; padding: 1em 0; }
nav ul li { display: inline; margin-right: 2%; color: #fff;}
nav ul li a { color: #fff; }

header { background: #162027; width: 100%; position: relative; }


@media only screen and (min-width: 35em) {
	header { background: #162027; width: 100%; position: fixed; top: 0; z-index: 0; padding: 4em 0 0 0;}
}

.container { display: block; background: #fff; width: 100%;  position: relative; top: 2em; z-index: 1; }

@media only screen and (min-width: 35em) {
	.container {top: 50em; z-index: 1; }
}


.inner {margin: 0 auto; padding: 2%; max-width: 1140px; /* background: url(../img/dyeline.gif) top center repeat-y  */}
.social { margin: 0 auto !important; display: block}
.intro { padding: 3%;}
.synopsis { margin: 0 auto;}

.testi {margin: 0 auto; text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 2% 0; margin-top: 15%; position: relative }
.testi blockquote { color: #162027; font-weight: 600; line-height: 1.8; margin-top: -4em}
.testi .avatar { position: relative; top: -55px; width: 65px;}
cite { display: block; font-style: normal; font-weight: 800; text-transform: uppercase; font-size: 0.85em; color: #e33a3b}
cite.source { font-weight: 100; font-size: 0.7em; text-transform: capitalize; color: #999}

@media only screen and (min-width: 45em) {
	.testi { width: 60%; margin-top: 4.5%; }
	.testi .avatar { position: relative; top: -50px; }	
}

.avatar {
	text-align: center;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	border: 4px solid #fff;
	margin-bottom: 1em;
	width: 70px;
}


p.caption {text-transform: uppercase; font-size: 0.8em; font-weight: 200; letter-spacing: 1px; color: #999}
b.title { display:block; color: #e53a3a; letter-spacing: -1px; text-transform: uppercase; font-size: 1em; margin-left: 99px; }
.intro h3 { font-weight: 500; color: #666; font-size: 1em; float: left; position: relative; top: -1.0em; margin-left: 20px;}

hgroup { margin: 0 auto; text-align: center; color: #fff; padding: 2% 8%;  margin-top: 3em; margin-bottom: 1%; }
hgroup h1 {text-transform: uppercase; font-size: 2em;}
hgroup h2 {margin: 0 auto; font-size: 1.3em; color: #748a99;}
hgroup a { text-transform: uppercase; font-weight: bold; padding: 0.2% 0.5%; 
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;}
hgroup h2 a:hover { background: rgba(0,0,0,0.2); border-radius: 4px; text-shadow: #852424 0 1px 2px;}

.hero figure { margin-top: -2em}

@media only screen and (min-width: 35em) {
	hgroup h2 {margin: 0 auto; font-size: 1.3em; color: #748a99; width: 50%;}
	.synopsis { max-width: 75%;}
}

.social {color: #fff; overflow: hidden; margin: 0; padding: 0%}
ul.socials { padding: 0; }
ul.socials li {list-style-type: none; padding: 3% 0; font-size: 1.1em; display: inline; text-align: center; line-height: 3; }
ul.socials li a {color: #e53a3a; font-weight: 700; padding: 1% 3%; border-radius: 4px; opacity: 0.8; background: url(../img/social-sprite.png) 5px 9px no-repeat #fff;  }
ul.socials li a:hover {
text-indent: -1000em;
text-shadow: none;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
opacity: 1;
   }

ul.socials li a.tw { background-position: 5px 9px;} 
ul.socials li a.dr { background-position: 5px -211px;} 
ul.socials li a.la { background-position: 5px -78px;} 
ul.socials li a.fl { background-position: 5px -168px;} 
ul.socials li a.de { background-position: 5px -256px;} 
ul.socials li a.li { background-position: 5px -36px;} 


/* ==========================================================================
   Grid
   ========================================================================== */

@media all and (min-width: 45em) {
    .half {
        width: 48%;
        margin-right: 3.5%;
        float: left;
    }

    .third {
        width: 31%;
        margin-right: 2%;
        float: left;
    }

    .two-thirds {
        width: 60%;
        margin-right: 4%;
        float: left;
    }
    .quarter {
        width: 22%;
        margin-right: 4%;
        float: left;
    }
    .last {
        margin-right: 0;
    }
}   


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	.avatar { width: auto}
	hgroup { margin-top: 0;}	
	b.title {margin-left: 127px; }
	ul.socials li {display: inline; font-size: 0.7em; text-align: center; margin-right: 1%; }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}